<div class="container">
    <div class="converter-container">
        <h1>Currency Convertor</h1>
        <div class="converter">
            <div class="currency-block">
                <select [(ngModel)]="fromCurrency" (change)="onCurrencyChange()">
                    <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
                </select>
                <input type="number" [(ngModel)]="amount" (input)="convertFromFirstCurrency()"
                    placeholder="Enter amount" />
            </div>

            <div class="currency-block">
                <select [(ngModel)]="toCurrency" (change)="onSecondCurrencyChange()">
                    <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
                </select>
                <input type="text" [value]="result | number:'1.2-2'" readonly />
            </div>
        </div>
        <button (click)="convertFromFirstCurrency()">Convert</button>
    </div>
</div>